body{
    background-color: #E1C7AA; 
    color: #3B5B69;
    font-family: urbanist;
    text-align: center;
}
.name{
    font-size: 3rem;
}
.title{
    color:#3B5B69;
    font-size: 6rem;
    font-family: ysabeau SC;
    text-align: center;
}

#hobbies{
    text-align:center;
}
#gallery {
    text-align:center;

}
#gallery img{
    max-width:100%;
    border:5px solid #3B5B69;
    
}
article {
    padding:2em;
}
article p:first-letter{
    color:#3B5B69;
    font-size:250%;
    border: 1px solid #3B5B69;
    padding-left:.3ex;
    padding-right:.3ex;
    margin-right:.1ex;
}
    

   
